:root {
	--textStyle: 'Roboto';
	--titleStyle: 'Chivo';
	--fontSize: 1.1em;
	--maxWidth: 60rem;
	--menuWidth: 20rem;
}

html[data-theme='light'] {
	--homeBG:#E8CEC4;

	--linkColor:#AD364B;

	--btnBG:#250712;

	--borderColor:#DED2DE;

	--toolboxBG:#F6E9E6;
	--toolboxFG:#72565D;
	--toolboxActiveBG:#FBD5D9;
	--toolboxActiveFG:#AD364B;

	--contentBG: #F5F1F3;
	--contentFG: #3F3F3F;
	--contentLightFG: #7b7b7b;

	--accentDarkBG: #AD364B;
	--accentDarkFG: #ffffff;
	--accentLightBG: #E8CEC4;
	--accentLightFG: #000;

	--pBkText: #5B198F;
	--pBkTextLight: #E8DFFF;
	--pBkDemo: #3A4D7C;
	--pBkDemoLight: #DFE9FF;
	--pBkExpression: #4D7C30;
	--pBkExpressionLight: #E6FFC6;
	--pBkWarning: #970000;
	--pBkWarningLight: #FFD7D7;
	--pBkComplement: #876E0E;
	--pBkComplementLight: #FFF9C6;

	--headerBG:#F5F1F3;
	--headerFG:#3F3F3F;
	--headerLink: var(--linkColor);

	--footerBG:#F5F1F3;
	--footerFG:#3F3F3F;

	--schBG:#F5F1F3;
	--schLightBG:#FFD7D7;
	--schCurrentBG:#ffef6d;
	--schFG:#3F3F3F;

	--quizAnswerBG:#e2f8d9;
	--quizAnswerFG:#295716;
	--quizWorstFG:#aa1016;
	--quizWorstBG:#ffe7e7;
	--quizBadFG:#9f5c00;
	--quizSolFG:#246C8A;
	--quizSolBG:#d8ebf4;
	--quizExplainBG: #fffce3;
	--quizExplainFG: #574f08;

	--segmentUndone: #FBD5D9;
	--segmentDone: #3F3F3F;
	--segmentActive:#AD364B;

	--inputBG:#F6E9E6;
	--inputBorder:#DED2DE;
	--inputFocus:#AD364B;

	--progressFG: #AD364B;

	--helpColor: #565656;
}

html[data-theme='dark'] {
	--homeBG:#3F3F3F;

	--linkColor:#FF94A7;

	--btnBG:#FBD5D9;

	--borderColor: #3F3F3F;

	--toolboxBG:#3b3b3b;
	--toolboxFG:#FFE5F3;
	--toolboxActiveBG:#250712;
	--toolboxActiveFG:#FFE5F3;

	--contentBG:#292929;
	--contentFG: #E5D4DC;
	--contentLightFG: #c0c0c0;

	--accentDarkBG: #FF94A7;
	--accentDarkFG: #000000;
	--accentLightBG: #3F3F3F;
	--accentLightFG: #fff;

	--pBkText: #e7c8ff;
	--pBkTextLight: #3a2d5d;
	--pBkDemo: #DFE9FF;
	--pBkDemoLight: #3A4D7C;
	--pBkExpression: #E6FFC6;
	--pBkExpressionLight: #4D7C30;
	--pBkWarning: #FFD7D7;
	--pBkWarningLight: #970000;
	--pBkComplement: #FFF9C6;
	--pBkComplementLight: #876E0E;

	--headerBG:#292929;
	--headerFG:#E5D4DC;
	--headerLink: var(--linkColor);

	--footerBG:#292929;
	--footerFG:#E5D4DC;

	--schBG:#292929;
	--schLightBG:#250712;
	--schCurrentBG:#847811;
	--schFG:#E5D4DC;

	--quizAnswerBG:#293e21;
	--quizAnswerFG:#3ca610;
	--quizWorstFG:#ff5d63;
	--quizWorstBG:#36191a;
	--quizBadFG:#d38c2a;
	--quizSolFG:#E8F3F8;
	--quizSolBG:#246C8A;
	--quizExplainBG: #3b3503;
	--quizExplainFG: #e3dc9f;

	--segmentUndone: #3F3F3F;
	--segmentDone: #000000;
	--segmentActive: #FF94A7;

	--inputBG: #3B3B3B;
	--inputBorder: #191919;
	--inputFocus: #FF94A7;

	--progressFG: #FF94A7;

	--helpColor: #cccccc;
}